[Desktop Entry]
Type=Application
Version=1.0
Name=BlueLatch
Comment=Linux Bluetooth proximity lock
Exec=bluelatch
Icon=io.github.UdayaSri.BlueLatch
Terminal=false
Categories=Security;System;Settings;
Keywords=bluetooth;lock;security;gnome;
StartupNotify=true
